*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: lightgreen;
}

.persistent-header{
    background-color:darkcyan;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 3%;
}
.main-nav li{
    display:inline-block
}
a,h1,h2,h3,p{
    text-decoration:none;
    font-family:sans-serif;
}
hr{
    width:90%;
    margin:0 auto;
}
.main-nav li{
    color:white
}
.link-list a{
    color:white
}
.main-nav li a{
    color:white
}

.main-content{
    border:1px solid green;
    width:75%;
    margin:0 auto;
    background-color:white;
    padding:0 40px 30px 40px;
}

.main-content section{
    border:13px solid green;
    min-height: 250;
    margin-bottom: 30px;
}

.section-content {
padding:3px;
min-height: 210px;
}
.section-content p{
    margin:10px;
    line-height:1.4;
    font-size:18px;
    font-family: sans-serif;
}
.section-content img{
    float:right;
    margin-left:10px;
    margin-top:10px;
}
.portraiat-right{
    float: right;
}
.section-content:nth-of-type(2) img{
    float: left;
    margin-left:0;
    margin-right:10px;
}